<h1>Mahjong Operations</h1>
<h2>Menu</h2>
<p>
    The top menu allows the player to interact with and modify the games' settings. As well as starting a new game (without or without a new Seed, resetting the current game, undoing your previous moves,
    toggling sound effects, and exiting the game.
</p>
<h2>Game Board</h2>
<p>The game board is where all of the action takes place. The board is where all of the Tiles are placed with respect to the rules of Mahjong. To select and play a Tile, simply click on them.</p>
<h2>Winning The Game</h2>
<p>Once the game board has been cleared of all Tiles, the player has won the game. Upon winning the game, you can start a new one, play the same game over again (using the same Seed), or quitting all together.</p>