<h1>Mahjong Game Rules</h1>
<h2 style="margin-bottom:0;">Game Overview</h2>
<p>The overall goal of Mahjong is to eliminate each Tile present on the game board. This is accomplished by selecting "open" Tiles in pairs of 2 (matching) to remove them. Once all Tiles are removed, you win!</p>
<h2 style="margin-bottom:0;">Game Tiles</h2>
<ul>
    <li>Bamboo Tiles: Ranging from Rank 1 to Rank 10</li>
    <li>Circle Tiles: Ranging from Rank 1 to Rank 10</li>
    <li>Character Tiles: Ranging from Rank 1 to Rank 10, and C, F, N, S, W and E</li>
    <li>Flower, Season, and White Dragon Tiles</li>
</ul>